In [1]:
import matplotlib.pyplot as plt 
import metapack as mp
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
pkg = mp.open_package('http://library.metatab.org/ceden.waterboards.ca.gov-beachwatch-sandiego-2.zip')

pkg

df = pkg.resource('beachwatch-sd').read_csv(parse_dates=True)

# It looks like the prefix of the station code groups stations, maybe into watersheds. 
df['stationgroup'] = df.stationcode.str[:2]

# The results has a large range, so log transformation makes them easier to visualize.
df['log_result'] = df.result.apply(np.log10)

In [3]:
dfa = df[['sampledate','stationcode','analyte', 'result','methodname','resultqualcode','qacode']].copy()

In [25]:
dfa['result'] = dfa['result'].replace([np.inf, -np.inf], np.nan)
dfa['l_result'] = np.log(dfa.result, where=(dfa.result > 0) ).replace([np.inf, -np.inf], np.nan)
#dfa['l_result_z'] = (dfa['l_result']-dfa['l_result'].mean())/dfa['l_result'].std()

In [29]:
df[['sampledate','stationcode','analyte', 'result','methodname']].set_index(['sampledate','stationcode','analyte','methodname'])

                                                        result
sampledate stationcode analyte         methodname
1999-04-02 EH-010      Coliform, Total MTF               300.0
1999-04-29 EH-010      Coliform, Total MTF                20.0
1999-04-30 EH-010      Coliform, Total MTF                20.0
1999-05-26 EH-010      Enterococcus    Enterolert         10.0
                       Coliform, Fecal MTF                20.0
1999-07-08 EH-010      Coliform, Total MTF                20.0
1999-07-28 EH-010      Coliform, Total MTF                20.0
1999-08-25 EH-010      Coliform, Total MTF                20.0
1999-09-03 EH-010      Coliform, Total MTF                20.0
1999-09-29 EH-010      Coliform, Total MTF                20.0
1999-10-05 EH-010      Coliform, Total MTF                20.0
1999-10-13 EH-010      Coliform, Fecal MTF                 0.0
1999-10-20 EH-010      Enterococcus    Enterolert         10.0
1999-10-26 EH-010      Enterococcus    Enterolert         10.0
                       Coliform, Fecal MTF                20.0
2000-03-10 EH-010      Enterococcus    Enterolert         10.0
2000-03-20 EH-010      Enterococcus    Enterolert         64.0
                       Coliform, Total MTF               500.0
2000-03-21 EH-010      Enterococcus    Enterolert         10.0
                       Coliform, Fecal MTF                20.0
2000-04-05 EH-010      Coliform, Total MTF                40.0
2000-04-21 EH-010      Coliform, Total MTF                20.0
2000-04-26 EH-010      Enterococcus    Enterolert         10.0
2000-05-03 EH-010      Enterococcus    Enterolert         10.0
2000-05-17 EH-010      Enterococcus    Enterolert         10.0
2000-05-24 EH-010      Coliform, Fecal MTF               230.0
2000-05-25 EH-010      Coliform, Fecal MTF                20.0
2000-05-28 EH-010      Enterococcus    Enterolert         10.0
                       Coliform, Fecal MTF                20.0
2000-06-07 EH-010      Coliform, Fecal MTF                20.0
...                                                        ...
2008-06-24 TJ-030      Coliform, Total Colilert-18    103900.0
2008-07-01 TJ-030      Coliform, Total Colilert-18     57940.0
2008-07-08 TJ-030      E. coli         Colilert-18       100.0
2008-07-15 TJ-030      Coliform, Total Colilert-18    980400.0
                       E. coli         Colilert-18       100.0
2008-07-22 TJ-030      E. coli         Colilert-18       100.0
2008-08-26 TJ-030      Coliform, Total Colilert-18    325500.0
2008-09-03 TJ-030      Coliform, Total Colilert-18   1019000.0
2008-09-09 TJ-030      E. coli         Colilert-18       100.0
2008-09-23 TJ-030      E. coli         Colilert-18       200.0
2008-10-07 TJ-030      E. coli         Colilert-18       100.0
                       Coliform, Total SM 9221 B     1354000.0
2008-10-14 TJ-030      Enterococcus    Enterolert          NaN
2008-10-21 TJ-030      Enterococcus    Enterolert          NaN
                       Coliform, Fecal SM 9221 E           NaN
2008-10-28 TJ-030      E. coli         Colilert-18       520.0
                       Coliform, Total SM 9221 B      307600.0
2008-12-10 TJ-030      Coliform, Total SM 9221 B    24196000.0
2008-12-16 TJ-030      Enterococcus    Enterolert          NaN
                       Coliform, Total SM 9221 B     6867000.0
                       Coliform, Fecal SM 9221 E           NaN
2008-12-23 TJ-030      Coliform, Fecal SM 9221 E           NaN
2008-12-31 TJ-030      Coliform, Fecal SM 9221 E           NaN
2009-01-13 TJ-030      Coliform, Total SM 9221 B    24196000.0
2009-01-20 TJ-030      E. coli         Colilert-18   8164000.0
                       Coliform, Total SM 9221 B    24196000.0
2009-02-03 TJ-030      Coliform, Fecal SM 9221 E           NaN
2009-02-10 TJ-030      E. coli         Colilert-18   3448000.0
2009-02-17 TJ-030      Enterococcus    Enterolert          NaN
                       Coliform, Fecal SM 9221 E           NaN

[202257 rows x 1 columns]

In [6]:
g = dfa.set_index('sampledate').groupby(['stationcode','analyte','sampledate'])
x = g.count().sort_values('result', ascending=False)
x.result.head(10)

stationcode  analyte          sampledate
FM-010       Coliform, Total  2006-04-24    16
EH-480       Coliform, Total  2007-04-03    16
FM-010       Coliform, Fecal  2006-04-24    14
             Enterococcus     2006-04-24    12
EH-480       Coliform, Fecal  2007-04-03    11
FM-010       Coliform, Fecal  2006-04-26    11
EH-480       Coliform, Total  2007-04-02    11
FM-010       Coliform, Total  2005-11-16    10
             Coliform, Fecal  2006-04-25    10
FM-100       Coliform, Total  2003-03-20    10
Name: result, dtype: int64

In [7]:
index = x.iloc[0:10].index.values

In [8]:
g.get_group(index[0]).sort_values(['methodname','qacode'])

,stationcode,analyte,result,methodname,resultqualcode,qacode,l_result
sampledate,,,,,,,
2006-04-24,FM-010,"Coliform, Total",189.0,Colilert-18,=,NR,5.241747
2006-04-24,FM-010,"Coliform, Total",2800.0,MTF,=,NR,7.937375
2006-04-24,FM-010,"Coliform, Total",140000.0,MTF,=,NR,11.849398
2006-04-24,FM-010,"Coliform, Total",130000.0,MTF,=,NR,11.775290
2006-04-24,FM-010,"Coliform, Total",13000.0,MTF,=,NR,9.472705
2006-04-24,FM-010,"Coliform, Total",140.0,SM 9222 B,=,J,4.941642
2006-04-24,FM-010,"Coliform, Total",800.0,SM 9222 B,=,J,6.684612
2006-04-24,FM-010,"Coliform, Total",160.0,SM 9222 B,=,J,5.075174
2006-04-24,FM-010,"Coliform, Total",600.0,SM 9222 B,=,J,6.396930
2006-04-24,FM-010,"Coliform, Total",200.0,SM 9222 B,=,J,5.298317
2006-04-24,FM-010,"Coliform, Total",360.0,SM 9222 B,=,J,5.886104
2006-04-24,FM-010,"Coliform, Total",320.0,SM 9222 B,=,J,5.768321
2006-04-24,FM-010,"Coliform, Total",480.0,SM 9222 B,=,NR,6.173786
2006-04-24,FM-010,"Coliform, Total",16000.0,SM 9222 B,>,NR,9.680344
2006-04-24,FM-010,"Coliform, Total",4400.0,SM 9222 B,=,NR,8.389360
2006-04-24,FM-010,"Coliform, Total",720.0,SM 9222 B,=,NR,6.579251

In [9]:
g.get_group(index[1]).sort_values(['methodname','qacode'])

,stationcode,analyte,result,methodname,resultqualcode,qacode,l_result
sampledate,,,,,,,
2007-04-03,EH-480,"Coliform, Total",70.0,SM 9221 B,=,NR,4.248495
2007-04-03,EH-480,"Coliform, Total",20.0,SM 9221 B,<,NR,2.995732
2007-04-03,EH-480,"Coliform, Total",170.0,SM 9221 B,=,NR,5.135798
2007-04-03,EH-480,"Coliform, Total",500.0,SM 9221 B,=,NR,6.214608
2007-04-03,EH-480,"Coliform, Total",900.0,SM 9222 B,=,NR,6.802395
2007-04-03,EH-480,"Coliform, Total",11.0,SM 9222 B,=,NR,2.397895
2007-04-03,EH-480,"Coliform, Total",34.0,SM 9222 B,=,NR,3.526361
2007-04-03,EH-480,"Coliform, Total",37.0,SM 9222 B,=,NR,3.610918
2007-04-03,EH-480,"Coliform, Total",28.0,SM 9222 B,=,NR,3.332205
2007-04-03,EH-480,"Coliform, Total",14.0,SM 9222 B,=,NR,2.639057
2007-04-03,EH-480,"Coliform, Total",83.0,SM 9222 B,=,NR,4.418841
2007-04-03,EH-480,"Coliform, Total",10.0,SM 9222 B,=,NR,2.302585
2007-04-03,EH-480,"Coliform, Total",50.0,SM 9222 B,=,NR,3.912023
2007-04-03,EH-480,"Coliform, Total",3800.0,SM 9222 B,=,NR,8.242756
2007-04-03,EH-480,"Coliform, Total",51.0,SM 9222 B,=,NR,3.931826
2007-04-03,EH-480,"Coliform, Total",77.0,SM 9222 B,=,NR,4.343805

In [10]:
g.get_group(index[2]).sort_values(['methodname','qacode'])

,stationcode,analyte,result,methodname,resultqualcode,qacode,l_result
sampledate,,,,,,,
2006-04-24,FM-010,"Coliform, Fecal",2600.0,MTF,=,NR,7.863267
2006-04-24,FM-010,"Coliform, Fecal",1700.0,MTF,=,NR,7.438384
2006-04-24,FM-010,"Coliform, Fecal",210.0,MTF,=,NR,5.347108
2006-04-24,FM-010,"Coliform, Fecal",NaN,SM 9221 E,<,NR,NaN
2006-04-24,FM-010,"Coliform, Fecal",32.0,SM 9222 B,=,J,3.465736
2006-04-24,FM-010,"Coliform, Fecal",26.0,SM 9222 B,=,J,3.258097
2006-04-24,FM-010,"Coliform, Fecal",3000.0,SM 9222 B,=,J,8.006368
2006-04-24,FM-010,"Coliform, Fecal",200.0,SM 9222 B,=,J,5.298317
2006-04-24,FM-010,"Coliform, Fecal",20.0,SM 9222 B,=,J,2.995732
2006-04-24,FM-010,"Coliform, Fecal",28.0,SM 9222 B,=,J,3.332205
2006-04-24,FM-010,"Coliform, Fecal",56.0,SM 9222 B,=,NR,4.025352
2006-04-24,FM-010,"Coliform, Fecal",42.0,SM 9222 B,=,NR,3.737670
2006-04-24,FM-010,"Coliform, Fecal",120.0,SM 9222 B,=,NR,4.787492
2006-04-24,FM-010,"Coliform, Fecal",860.0,SM 9222 B,=,NR,6.756932
2006-04-24,FM-010,"Coliform, Fecal",66.0,SM 9222 B,=,NR,4.189655

In [11]:
g.get_group(index[2]).sort_values(['methodname','qacode']).result.median()

93.0

In [12]:
_g = dfa.set_index('sampledate').groupby(['stationcode','sampledate'])

x = _g.count().sort_values('result', ascending=False)
index = x.iloc[0:10].index.values
x.result.head(10)

stationcode  sampledate
FM-010       2006-04-24    43
EH-480       2007-04-03    32
FM-010       2006-04-26    31
             2005-08-10    28
             2005-04-20    26
             2005-11-15    26
             2005-11-14    25
             2006-04-25    25
             2005-08-11    25
SE-060       2003-04-14    25
Name: result, dtype: int64

In [13]:
_ = _g.get_group(index[1]).reset_index().pivot(columns='analyte', values='result')
_.describe()

analyte  Coliform, Fecal  Coliform, Total  Enterococcus
count          11.000000        16.000000      5.000000
mean           99.909091       365.937500     27.000000
std           239.274510       945.631392     41.448764
min             1.000000        10.000000      1.000000
25%             3.500000        26.000000      4.000000
50%            10.000000        50.500000     10.000000
75%            30.000000       104.750000     20.000000
max           800.000000      3800.000000    100.000000